.first_section1 {
    display: flex;
    justify-content: center;
    margin-left: 65px;
    margin-bottom: 10px;
}
.wel {
    font-size: 4rem;
}

.wel1 {
    margin-left: 113px;
    font-size: 2.5rem;
}

.first_section1>div {
    width: 80%;
    margin: 4% 20px;
}
.left_section1{
    width: 100%;
    padding: 0px 70px;
    margin-left: 8px;
}
.right_section1{
    width: 40%;
    font-size: 1.5rem;
    
    
}
.right_section1 li{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 140px;
}
.right_section1 li a{
    text-decoration: none;
    color: aliceblue;
    
}
.right_section1 a:hover{
    font-size: 1.7rem;
}
hr{
    display: flex;
    margin-left: 9%;
    width: 80%;
}
.second_section1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.15rem;
}
.line_01{
    
    margin-left: 50px;
}
.line_1{
    margin-bottom: 20px;
}
.third_section{
    display: flex;
    justify-content: center;

}
.third_section .Login{
    font-size: 1.3rem;
    padding: 8px 56px;
    background-color: rgb(139, 147, 208);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 30px;
    
}
.third_section .Request_demo{
    padding: 8px 10px;
    font-size: 1.3rem;
    background-color: rgb(139, 147, 208);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.third_section a{
    text-decoration: none;
    color: rgb(2, 6, 47);
}
.third_section button a:hover{
    font-size: 1.4rem;
    color: rgb(248, 248, 251);
}
.fourth_section{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    font-size: 2.2rem;
}
.li_1{
    margin-left: 145px;
}
